<section class="main py-10 my-1 flex flex-col gap-3">
  <div class="flex justify-between items-center">
    <h3 class="font-bold">Notifications</h3>
    <app-button
      text="Mark All As Read"
      type="green-btn"
      size="md"
      [loading]="loading()"
      (handleOnlick)="markAllNotificationAsRead()"
      [disabled]="notificationService.userNotification().length === 0"
    ></app-button>
  </div>
  @if (notificationService.loading()) {
    <app-loader></app-loader>
  } @else {
    @if (notificationService.userNotification().length === 0) {
      <div class="flex items-center justify-center flex-col gap-2 text-[5rem]">
        <i class="fa fa-bell text-gray-400"></i>
        <h5 class="text-xl font-semibold">Your Notication is Empty</h5>
      </div>
    } @else {
      @for (notification of notificationService.userNotification(); track $index) {
        <app-notification-card [notification]="notification"></app-notification-card>
      }
    }
  }
</section>
