<footer class="mt-10 bg-black pt-10 pb-5">
  <div class="main">
    <div
      class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-5 gap-y-4 text-white mb-10"
    >
      <div class="flex flex-col gap-3">
        <h2 class="font-bold">Exlusive</h2>
        <h4>Subscribe</h4>
        <p>Get 10% off your first order</p>
        <div class="flex items-center gap-2 border border-white px-2 py-2.5 rounded-sm">
          <input
            type="text"
            class="border-0 outline-none bg-transparent w-full"
            placeholder="Enter your email"
          />
          <button class="cursor-pointer">
            <img
              width="20"
              height="20"
              src="https://img.icons8.com/badges/48/sent.png"
              alt="sent"
            />
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h4>Support</h4>
        <p>{{ settingService.storeDetails()[0].address }}</p>
        <p>{{ settingService.storeDetails()[0].email }}</p>
        <p>{{ settingService.storeDetails()[0].phone }}</p>
      </div>
      <div class="flex flex-col gap-2">
        <h4>Account</h4>
        @if (authService.isLogin()) {
          <button (click)="onNavigateToAccount('/account')" class="button">My Account</button>
        }

        <button routerLink="/signup" class="button">Register</button>
        <button routerLink="/login" class="button">Login</button>
        @if (authService.isLogin()) {
          <button routerLink="/cart" class="button">Cart</button>
          <button routerLink="/wishlist" class="button">Wishlist</button>
        }
        <button routerLink="/products" class="button">Shop</button>
      </div>
      <div class="flex flex-col gap-3">
        <h4>Quick Links</h4>
        <button class="button" routerLink="/privacy-policy">Privacy Policy</button>
        <button class="button" routerLink="/terms-of-use">Terms of Use</button>
        <button class="button" routerLink="/faq">FAQ</button>
        <button routerLink="/contact" class="button">Contact</button>
      </div>
      <div class="flex flex-col gap-3">
        <h4>Download App</h4>
        <span class="text-gray-400 text-[12px]">Save $3 with App New User Only</span>
        <div class="flex gap-1">
          <img width="64" height="64" src="/images/qrcode.png" alt="qr-code" />
          <div class="flex flex-col gap-1">
            <a href="#" class="h-fit">
              <img width="100" src="/images/playstore.png" alt="google-play-store-new" />
            </a>
            <a href="#" class="h-fit">
              <img width="100" src="/images/appstore.png" alt="app-store-new" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="w-full h-0.5 bg-gray-400" />
  <div class="flex items-center justify-between text-gray-400 my-2">
    <p class="">&copy; Copyright OlaTech {{ currentYear() }}. All right reserved.</p>
    <a
      href="https://github.com/ola144/exclusive"
      target="_blank"
      class="hover:underline transition-all duration-200 text-sm flex gap-1 items-center"
    >
      <i class="fa fa-github-alt"></i>
      View On Github</a
    >
  </div>
</footer>
