<footer class="mt-10 bg-black pt-10 pb-5">
  <div class="main">
    <div
      class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-5 gap-y-4 text-white mb-10"
    >
      <div class="flex flex-col gap-3">
        <h2 class="font-bold">Exlusive</h2>
        <h4>Subscribe</h4>
        <p>Get 10% off your first order</p>
        <div class="flex items-center gap-2 border border-white px-2 py-2.5 rounded-sm">
          <input
            type="text"
            class="border-0 outline-none bg-transparent w-full"
            placeholder="Enter your email"
          />
          <button class="cursor-pointer">
            <img
              width="20"
              height="20"
              src="https://img.icons8.com/badges/48/sent.png"
              alt="sent"
            />
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h4>Support</h4>
        <p>111 Bijay Sarani, Dhakka, DH 1515, Bangladesh.</p>
        <p>exclusive@gmail.com</p>
        <p>+88015-88888-9999</p>
      </div>
      <div class="flex flex-col gap-2">
        <h4>Account</h4>
        <button class="button">My Account</button>
        <button class="button">Register</button>
        <button class="button">Login</button>
        <button class="button">Cart</button>
        <button class="button">Wishlist</button>
        <button class="button">Shop</button>
      </div>
      <div class="flex flex-col gap-3">
        <h4>Quick Links</h4>
        <button class="button">Privacy Policy</button>
        <button class="button">Terms of Use</button>
        <button class="button">FAQ</button>
        <button class="button">Contact</button>
      </div>
      <div class="flex flex-col gap-3">
        <h4>Download App</h4>
        <span class="text-gray-400 text-[12px]">Save $3 with App New User Only</span>
        <div class="flex gap-1">
          <img width="64" height="64" src="/images/qrcode.png" alt="qr-code" />
          <div class="flex flex-col gap-1">
            <a href="#" class="h-fit">
              <img width="100" src="/images/playstore.png" alt="google-play-store-new" />
            </a>
            <a href="#" class="h-fit">
              <img width="100" src="/images/appstore.png" alt="app-store-new" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="w-full h-0.5 bg-gray-400" />
  <p class="text-center text-gray-400 my-2">
    &copy; Copyright OlaTech {{ currentYear() }}. All right reserved.
  </p>
</footer>
