@import 'tailwindcss';

button {
  cursor: pointer;
}

/* button::before {
  content: '';
  width: 100%;
  height: 10px;
  background-color: white;
} */

h4 {
  font-weight: bolder;
}

@utility button {
  @apply relative cursor-pointer text-sm text-left w-fit after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-current after:transition-all after:duration-300 hover:after:w-full;
}
