<nav
  class="w-full pt-7 pb-3 border-b border-b-gray-300 fixed top-0 sm:top-8 z-900 transition-all duration-300 lg:block hidden"
  #navbar
>
  <div class="main">
    <div class="flex items-center justify-between">
      <h2>Exclusive</h2>
      <ul class="flex items-center gap-8 text-black font-medium">
        <button (click)="onNavigate('/')" [ngClass]="currentRoute() === '/' ? 'active' : ''">
          Home
        </button>
        <button
          (click)="onNavigate('/contact')"
          [ngClass]="currentRoute() === '/contact' ? 'active' : ''"
        >
          Contact
        </button>
        <button
          (click)="onNavigate('/about')"
          [ngClass]="currentRoute() === '/about' ? 'active' : ''"
        >
          About
        </button>
        @if (!authService.isLogin()) {
          <button
            (click)="onNavigate('/signup')"
            [ngClass]="currentRoute() === '/signup' ? 'active' : ''"
          >
            <button>Sign Up</button>
          </button>
          <button
            (click)="onNavigate('/login')"
            [ngClass]="currentRoute() === '/login' ? 'active' : ''"
          >
            <button>Login</button>
          </button>
        }
      </ul>
      <div class="flex items-center gap-5 relative">
        <div class="bg-gray-200 text-gray-900 py-2 px-5 rounded-xl h-10 text-sm relative">
          <div class="flex items-center justify-between gap-3">
            <input
              type="text"
              placeholder="What are you looking for?"
              class="w-full border-none outline-none"
              [(ngModel)]="filterText"
              (input)="onSearch()"
            />
            <i class="fa fa-search"></i>
          </div>

          @if (onSearch().length && filterText()) {
            <div class="w-full bg-gray-300 p-1 border border-gray-500 mt-3">
              @for (item of onSearch(); track $index) {
                <button
                  class="flex items-center gap-2 capitalize"
                  (click)="onNavigateToCategory(item.categoryName)"
                >
                  <img [src]="item?.categoryImg" [alt]="item?.categoryName" class="w-10 h-10" />
                  <span>{{ item?.categoryName }}</span>
                </button>
              }
            </div>
          }
        </div>
        @if (authService.isLogin()) {
          <button class="cursor-pointer text-lg relative" (click)="onNavigate('/wishlist')">
            <i class="fa fa-heart-o"></i>
            <span
              class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
            >
              {{ productService.wishlistItems().length }}
            </span>
          </button>
          <button class="cursor-pointer relative text-lg text-black" (click)="onNavigate('/cart')">
            <i class="fa fa-shopping-cart"></i>
            <span
              class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
            >
              {{ productService.cartItems().length }}
            </span>
          </button>
          <button
            class="cursor-pointer relative text-lg text-black"
            (click)="onNavigate('/notifications')"
          >
            <i class="fa fa-bell"></i>
            <span
              class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
            >
              {{ unreadNotication().length }}
            </span>
          </button>
          <a
            class="cursor-pointer text-lg rounded-full size-8 flex items-center justify-center"
            [ngClass]="
              showAccountPopUp() || currentRoute() === '/account'
                ? 'text-white bg-red-500'
                : 'text-black bg-transparent'
            "
            (click)="toggleAccountPopUp()"
          >
            @if (authService.userProfile()?.avatar) {
              <img
                [src]="authService.userProfile()?.avatar || ''"
                alt="User Avatar"
                class="rounded-full w-8 h-8 object-cover"
              />
            } @else {
              <span
                class="size-8 rounded-full flex text-gray-600 bg-gray-50 border-gray-600 border uppercase items-center justify-center"
              >
                {{ authService.userProfile()?.name.split()[0][0] }}
              </span>
            }
            <!-- <i class="fa fa-user-o"></i> -->
          </a>

          @if (showAccountPopUp()) {
            <div
              class="from-black to-gray-400 bg-linear-to-bl w-56 h-52 p-3 absolute right-0 top-10"
            >
              <div class="flex flex-col gap-3">
                <button
                  class="flex items-center gap-4 text-white text-lg"
                  (click)="onNavigateToAccount('/account')"
                  (click)="toggleAccountPopUp()"
                >
                  <i class="fa fa-user-o"></i>
                  <span>My Account</span>
                </button>
                <button
                  class="flex items-center gap-4 text-white text-lg"
                  (click)="onNavigateToMyOrder('/account')"
                  (click)="toggleAccountPopUp()"
                >
                  <i class="fa fa-briefcase"></i>
                  <span>My Order</span>
                </button>
                <button
                  class="flex items-center gap-4 text-white text-lg"
                  (click)="onNavigateToMyReview('/account')"
                  (click)="toggleAccountPopUp()"
                >
                  <i class="fa fa-star-o"></i>
                  <span>My Reviews</span>
                </button>
                <button
                  class="flex items-center gap-2 text-white text-lg"
                  (click)="confirmLogout.set(true)"
                >
                  <div class="flex items-center gap-4">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                  </div>
                </button>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
</nav>

<!-- MOBILE -->
<nav
  class="w-full pt-7 pb-3 border-b border-b-gray-300 fixed left-0 top-0 sm:top-3 z-900 transition-all duration-300 lg:hidden"
  #mobileNavbar
>
  <div class="w-full relative">
    <h2 class="mb-5 pl-10">Exclusive</h2>

    @if (showMobileNav()) {
      <div
        class="flex flex-col gap-4 bg-linear-to-l from-gray-300 to-gray-400 h-screen px-10 absolute top-0 left-0 pt-10 w-full z-50 transition-all duration-300"
        data-aos="fade-in"
      >
        <div class="flex items-center justify-between">
          <h2 class="mb-5 pl-10">Exclusive</h2>
          <button
            class="text-black font-bold text-lg absolute top-8 right-8"
            (click)="toggleMobileNav()"
          >
            <i class="fa fa-close"></i>
          </button>
        </div>
        <ul class="flex flex-col gap-10 text-black font-medium text-left">
          <button
            routerLinkActive="active"
            (click)="onNavigateHomeOnMobile('/')"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </button>
          <button routerLink="contact" routerLinkActive="active" (click)="toggleMobileNav()">
            Contact
          </button>
          <button routerLink="about" routerLinkActive="active" (click)="toggleMobileNav()">
            About
          </button>
          @if (!authService.isLogin()) {
            <button routerLink="signup" routerLinkActive="active" (click)="toggleMobileNav()">
              <button>Sign Up</button>
            </button>
            <button routerLink="login" routerLinkActive="active" (click)="toggleMobileNav()">
              <button>Login</button>
            </button>
          }
        </ul>
        <div class="flex items-center gap-5 relative w-fit">
          <div
            class="flex items-center justify-between gap-3 bg-gray-200 text-gray-900 py-2 px-5 rounded-xl h-10 text-sm"
          >
            <input
              type="text"
              placeholder="What are you looking for?"
              class="w-full border-none outline-none"
            />
            <i class="fa fa-search"></i>
          </div>
          @if (authService.isLogin()) {
            <button
              class="cursor-pointer text-lg relative"
              routerLink="/wishlist"
              (click)="toggleMobileNav()"
            >
              <i class="fa fa-heart"></i>
              <span
                class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
              >
                {{ productService.wishlistItems().length }}
              </span>
            </button>
            <button
              class="cursor-pointer relative text-lg text-black"
              routerLink="/cart"
              (click)="toggleMobileNav()"
            >
              <i class="fa fa-shopping-cart"></i>
              <span
                class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
              >
                {{ productService.cartItems().length }}
              </span>
            </button>
            <button
              class="cursor-pointer relative text-lg text-black"
              routerLink="/notifications"
              (click)="toggleMobileNav()"
            >
              <i class="fa fa-bell"></i>
              <span
                class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs"
              >
                {{ unreadNotication().length }}
              </span>
            </button>
            <a
              class="cursor-pointer text-lg text-white bg-red-500 rounded-full size-8 flex items-center justify-center"
              (click)="toggleAccountPopUp()"
            >
              @if (authService.userProfile()?.avatar) {
                <img
                  [src]="authService.userProfile()?.avatar || ''"
                  alt="User Avatar"
                  class="rounded-full w-8 h-8 object-cover"
                />
              } @else {
                <span
                  class="size-8 rounded-full flex text-gray-600 bg-gray-50 border-gray-600 border uppercase items-center justify-center"
                >
                  {{ authService.userProfile()?.name.split()[0][0] }}
                </span>
              }

              <!-- <i class="fa fa-user"></i> -->
            </a>
            @if (showAccountPopUp()) {
              <div
                class="from-black to-gray-400 bg-linear-to-bl w-56 h-52 p-3 absolute right-0 top-10"
              >
                <div class="flex flex-col gap-3">
                  <button
                    class="flex items-center gap-4 text-white text-lg"
                    (click)="onNavigateToAccountOnMobile('/account')"
                    (click)="toggleAccountPopUp()"
                  >
                    <i class="fa fa-user-o"></i>
                    <span>My Account</span>
                  </button>
                  <button
                    class="flex items-center gap-4 text-white text-lg"
                    (click)="onNavigateToMyOrder('/account')"
                    (click)="toggleAccountPopUp()"
                  >
                    <i class="fa fa-briefcase"></i>
                    <span>My Order</span>
                  </button>
                  <button
                    class="flex items-center gap-4 text-white text-lg"
                    (click)="onNavigateToMyReview('/account')"
                    (click)="toggleAccountPopUp()"
                  >
                    <i class="fa fa-star-o"></i>
                    <span>My Reviews</span>
                  </button>
                  <button
                    class="flex items-center gap-4 text-white text-lg"
                    (click)="confirmLogout.set(true)"
                  >
                    <div class="flex items-center gap-4">
                      <i class="fa fa-sign-out"></i>
                      <span>Logout</span>
                    </div>
                  </button>
                </div>
              </div>
            }
          }
        </div>
      </div>
    }
  </div>

  <button class="text-black font-bold text-lg absolute top-8 right-8" (click)="toggleMobileNav()">
    <i class="fa fa-bars"></i>
  </button>
</nav>

@if (confirmLogout()) {
  <app-confirm-logout-popup
    [confirmLogout]="confirmLogout"
    [mobileNav]="showMobileNav"
  ></app-confirm-logout-popup>
}
