<header class="bg-white shadow-md sm:px-6 px-2 py-4 flex justify-between items-center">
  <div>
    <h5 class="md:text-2xl text-sm font-bold text-gray-800">Welcome to Admin Panel</h5>
    <span class="text-gray-600 text-sm block">Manage your ecommerce business</span>
  </div>
  <div class="flex items-center space-x-4">
    <!-- Notifications -->
    <button class="relative text-xl" routerLink="/admin/notifications">
      <i class="fa fa-bell"></i>
      <span
        class="absolute -top-2 -right-2 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs bg-red-500"
        >{{ unreadNotication().length }}</span
      >
    </button>

    <!-- Profile -->
    <div class="items-center space-x-3 hidden sm:flex">
      @if (authService.userProfile()?.avatar) {
        <img [src]="authService.userProfile()?.avatar" alt="Admin" class="w-10 h-10 rounded-full" />
      } @else {
        <span
          class="size-10 rounded-full flex text-gray-600 bg-gray-50 border-gray-600 border uppercase items-center justify-center"
        >
          {{ authService.userProfile()?.name.split()[0][0] }}
        </span>
      }

      <div>
        <p class="text-sm font-semibold text-gray-800">{{ authService.userProfile()?.name }}</p>
        <p class="text-xs text-gray-600 capitalize">{{ authService.userProfile()?.role }}</p>
      </div>
    </div>
  </div>
</header>
