<section class="main py-10 my-10 flex flex-col gap-20">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Images -->
    <div class="lg:col-span-2 grid grid-cols-12 gap-4">
      <!-- Thumbnails -->
      <div class="md:col-span-2 col-span-12 flex md:flex-col gap-3 w-full">
        @for (id of foundProduct()?.productImg ?? []; track $index) {
          <button
            (click)="selectImage($index)"
            class="w-fit p-1 rounded-md border border-gray-400 transition-shadow hover:shadow-md"
            [class.border-red-500]="selectedImageIndex() === $index"
          >
            <img
              [src]="productService.getImageUrl(id)"
              alt="thumb"
              class="object-cover md:w-full w-20 h-20 rounded"
            />
          </button>
        }
      </div>

      <!-- Main Image Area -->
      <div class="col-span-12 md:col-span-10">
        <div class="relative w-full max-w-3xl">
          <img
            [src]="productService.getImageUrl(foundProduct()?.productImg[selectedImageIndex()])"
            alt="product image"
            class="w-full h-105 object-contain bg-white rounded shadow"
          />

          <button
            (click)="prevImage()"
            aria-label="Previous"
            class="absolute left-2 top-1/2 -translate-y-1/2 bg-white/80 p-2 rounded-full shadow hover:bg-white disabled:cursor-no-drop"
            [disabled]="selectedImageIndex() === 0"
          >
            ‹
          </button>
          <button
            (click)="nextImage()"
            aria-label="Next"
            class="absolute right-2 top-1/2 -translate-y-1/2 bg-white/80 p-2 rounded-full shadow hover:bg-white disabled:cursor-no-drop"
            [disabled]="selectedImageIndex() === imageUrls()?.length - 1"
          >
            ›
          </button>
        </div>
      </div>
    </div>

    <!-- Details -->
    <div class="space-y-4">
      <h3 class="font-semibold">{{ foundProduct()?.productName }}</h3>
      <div class="flex items-center gap-3 text-sm text-gray-600">
        <div>
          <span class="text-yellow-400">{{ '★'.repeat(averageRating(foundProduct()?.$id)) }}</span>
          <span class="text-gray-400">{{
            '★'.repeat(5 - averageRating(foundProduct()?.$id))
          }}</span>
        </div>
        <span class="text-gray-400"
          >({{ foundProduct()?.productReviews }}
          {{
            productService.getReviewsForProduct(foundProduct()?.$id).length > 1
              ? 'reviews'
              : 'review'
          }})</span
        >
        <span>|</span>
        <span class="text-sm" [class.text-green-600]="foundProduct()?.productInStock">
          {{ foundProduct()?.productInStock ? 'In stock' : 'Out of stock' }}
        </span>
      </div>

      <h3 class="font-bold text-gray-900 flex items-center gap-1">
        ${{
          calculateDiscountedPrice(foundProduct()?.productPrice, foundProduct()?.productDiscount)
        }}
        @if (foundProduct()?.productDiscount > 0) {
          <span class="text-gray-400 line-through text-lg"
            >${{ foundProduct()?.productPrice }}</span
          >
        }
      </h3>

      <p class="text-black text-justify">
        {{ foundProduct()?.productDesc }}
      </p>

      <hr class="w-full h-0.5 bg-gray-500 my-5" />

      <!-- Sizes
      <div class="flex items-center gap-3">
        <h4 class="font-medium mb-2">Size:</h4>
        <div class="flex gap-2">
          @for (s of foundProduct()?.sizes; track $index) {
            <button
              (click)="selectSize(s)"
              class="px-3 py-1 rounded-sm border border-gray-400 text-sm text-black hover:bg-red-400 hover:text-white hover:border-0"
              [class.bg-red-500]="selectedSize() === s"
              [class.text-white]="selectedSize() === s"
              [class.border-0]="selectedSize() === s"
            >
              {{ s }}
            </button>
          }
        </div>
      </div> -->

      <!-- Quantity + Actions -->
      @if (authService.isLogin()) {
        <div class="flex items-center gap-2 mt-4">
          @if (productInCart(foundProduct()?.$id)) {
            <app-button
              [text]="'Proceed to Cart'"
              [type]="'red-btn'"
              [routerLink]="'/cart'"
            ></app-button>
          } @else {
            <app-button
              [text]="'Buy Now'"
              [type]="'red-btn'"
              (handleOnlick)="buyNow()"
            ></app-button>
          }

          <button
            (click)="toggleWishlist()"
            class="border border-gray-400 p-2 rounded-sm shadow cursor-pointer size-8 text-2xl flex items-center justify-center hover:bg-red-500 hover:text-white hover:border-0 transition-colors duration-100"
          >
            <i class="fa fa-heart-o"></i>
          </button>
          @if (authService.isLogin()) {
            <app-button
              [text]="'Review Product'"
              [type]="'green-btn'"
              (handleOnlick)="openReviewProductForm()"
            ></app-button>
          }
        </div>
      }

      <!-- Delivery & Returns -->
      <div class="border border-gray-400 rounded-sm">
        <div class="flex items-center gap-3 p-2">
          <span class="text-black text-xl">
            <i class="fa fa-bus"></i>
          </span>
          <div class="flex flex-col gap-0">
            <h4 class="font-medium">Free Delivery</h4>
            <p class="text-gray-500">Delivered between 2 - 4 days</p>
          </div>
        </div>
        <div class="flex items-center gap-3 p-2 border-t border-t-gray-400">
          <span class="text-black text-xl">
            <i class="fa fa-retweet"></i>
          </span>
          <div class="flex flex-col gap-0">
            <h4 class="font-medium">Return Delivery</h4>
            <p class="text-gray-500">Free 30 days return</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PRODUCT REVIEW -->

  <div class="flex flex-col gap-2 relative">
    <app-title [title1]="'Product Reviews'"></app-title>

    @if (productService.getReviewsForProduct(foundProduct()?.$id).length === 0) {
      <div class="flex items-center justify-center flex-col gap-2 text-[10rem]">
        <i class="fa fa-comment text-gray-400"></i>
        <h4 class="text-2xl font-semibold">{{ foundProduct()?.productName }} has no review.</h4>
      </div>
    } @else {
      <div class="flex gap-1 relative bg-transparent" #slider>
        @for (review of productService.getReviewsForProduct(foundProduct()?.$id); track $index) {
          <app-review-card [review]="review"></app-review-card>
        }
      </div>
    }
  </div>

  <!-- Related Items -->
  <div class="flex flex-col gap-4">
    <div class="flex items-center justify-between">
      <app-title [title1]="'Related Items'"></app-title>
      <app-button
        [text]="'View All'"
        (handleOnlick)="onNavigateToProduct('/products')"
      ></app-button>
    </div>

    @if (getRelatedProducts().length === 0) {
      <div class="flex items-center justify-center text-red-500 capitalize">
        <p>No related items for {{ foundProduct()?.productCategory }}</p>
      </div>
    } @else {
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (product of getRelatedProducts(); track $index) {
          <app-product-card [product]="product" [hideDeleteBtn]="'hidden'"></app-product-card>
        }
      </div>
    }
  </div>
</section>

@if (showReviewForm()) {
  <app-review-product
    [selectedProduct]="foundProduct()"
    [showReviewProductForm]="showReviewForm"
  ></app-review-product>
}
