<section class="mx-auto my-20 pt-10 overflow-hidden">
  <div class="main border-b border-gray-400 pb-10 relative">
    <!-- Header -->
    <div
      class="flex md:items-center items-start lg:flex-nowrap sm:flex-wrap md:flex-row flex-col gap-8 mb-6 relative"
    >
      <app-title [title1]="title1" [title2]="'Flash Sales'"></app-title>

      <!-- Countdown -->
      <div class="flex items-center gap-4 text-center flex-wrap">
        <div>
          <h5 class="md:text-2xl text-lg">Days</h5>
          <h5 class="font-semibold md:text-2xl text-lg">{{ days() | number: '2.0' }}</h5>
        </div>
        <span class="text-red-500">:</span>
        <div>
          <h5 class="md:text-2xl text-lg">Hours</h5>
          <h5 class="font-semibold md:text-2xl text-lg">{{ hours() | number: '2.0' }}</h5>
        </div>
        <span class="text-red-500">:</span>
        <div>
          <h5 class="md:text-2xl text-xl">Minutes</h5>
          <h5 class="font-semibold md:text-2xl text-lg">{{ minutes() | number: '2.0' }}</h5>
        </div>
        <span class="text-red-500">:</span>
        <div>
          <h5 class="md:text-2xl text-lg">Seconds</h5>
          <h5 class="font-semibold md:text-2xl text-lg">{{ seconds() | number: '2.0' }}</h5>
        </div>
      </div>
    </div>

    <!-- Products -->
    <div class="flex gap-1 relative bg-transparent" #slider>
      @for (product of flashSales(); track $index) {
        <app-product-card [product]="product" [hideDeleteBtn]="'hidden'"></app-product-card>
      }
    </div>

    <!-- View All -->
    <div class="text-center mt-10">
      <app-button
        [text]="'View All Products'"
        (handleOnlick)="onNavigateToProduct('/products')"
      ></app-button>
    </div>
  </div>
</section>
