<section class="py-10 my-1 flex flex-col gap-3">
  <div class="flex justify-between items-center">
    <h3 class="font-bold">Notifications</h3>
    <app-button
      text="Mark All As Read"
      type="green-btn"
      size="md"
      [loading]="loading()"
      (handleOnlick)="markAllNotificationAsRead()"
      [disabled]="notificationService.allNotification().length === 0"
    ></app-button>
  </div>
  @if (notificationService.loading()) {
    <app-loader></app-loader>
  } @else {
    <div>
      @if (notificationService.allNotification().length === 0) {
        <div class="flex items-center justify-center flex-col gap-2 text-[10rem]">
          <i class="fa fa-bell text-gray-400"></i>
          <h4 class="text-2xl font-semibold">Your Notication is Empty</h4>
        </div>
      } @else {
        @for (notification of notificationService.allNotification(); track $index) {
          <app-notification-card [notification]="notification"></app-notification-card>
        }
      }
    </div>
  }
</section>
