@import 'tailwindcss';

input {
  @apply w-full px-2 py-3 bg-gray-300 disabled:bg-gray-800 text-gray-500 border-none outline-none rounded-sm placeholder:text-gray-500;
}

label {
  @apply text-black font-bold capitalize;
}

button {
  @apply cursor-pointer;
}
