/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tiny-slider/dist/tiny-slider.css';

* {
  box-sizing: border-box;
}

html,
body {
  @apply m-0 p-0;
  width: 100% !important;
}

@utility main {
  @apply xl:w-[80%] lg:w-[90%] md:w-[90%] mx-auto xl:px-0 md:px-5 px-10 sm:w-[100%];
}

@utility active {
  @apply border-b-2 border-black;
}

@utility productGrid {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-2 gap-y-3 w-full;
}

h1 {
  @apply sm:text-6xl text-3xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply text-2xl;
}

p {
  @apply text-sm;
}

button {
  @apply cursor-pointer disabled:cursor-no-drop;
}

.input-group {
  @apply bg-gray-200 text-gray-900 py-3 px-5 rounded-sm text-sm relative w-full;
}

.input-group input,
.input-group textarea {
  @apply outline-none border-none w-full;
}

.input-group label {
  @apply absolute top-1/2 -translate-y-1/2 left-4 transition-all duration-300 pointer-events-none;
}
.input-group .msgLabel {
  @apply absolute top-5 left-4 transition-all duration-300 pointer-events-none;
}

.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label {
  @apply top-0 text-[10px] bg-red-500 px-2 py-1 text-white rounded-sm;
}

/* Controls container */
.tns-controls {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  gap: 20px;
  pointer-events: none;
}

/* Buttons */
.tns-controls button {
  pointer-events: auto;
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  padding: 2px;
  background: white;
  color: #111827;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.2s ease;
}

/* Hover */
.tns-controls button:hover {
  background: #111827;
  color: white;
}

/* Position */
.tns-controls [data-controls='prev'] {
  margin-left: -20px;
}

.tns-controls [data-controls='next'] {
  margin-right: -20px;
}

.scroll {
  animation: scroll 10s linear infinite;
}

.scroll:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
